In [1]:
import os
import pandas as pd
import csv
from pandas.io.common import EmptyDataError

In [10]:
# constants
root = "/work/akilby/drug_pricing_project/opiates/opiates/"
thread_fn = os.path.join(root, "threads/r_opiates_1514592000_1515196800.csv")
comment_fn = os.path.join(root, "comments/complete/opiates_101pxa.csv")

In [3]:
def read_all_files(data_loc):
    """
    Reads text from each file in the given directory into a single dataframe
    String --> DataFrame
    :param loc: the directory filepath containing the text files
    :returns full_df: the resulting combined dataframe
    """
    full_df = pd.DataFrame()
    for fn in os.listdir(data_loc):
        fp = os.path.join(data_loc, fn)
        try:
            cur_df = pd.read_csv(fp, header=None)
            full_df.append(cur_df)
        except EmptyDataError:
            pass
    return full_df

In [ ]:
# read threads and comments into dataframes
thread_df = read_all_files(os.path.join(root, "threads"))
comm_df = read_all_files(os.path.join(root, "comments", "complete"))

In [12]:
thread_df = pd.read_csv(thread_fn, header=None)
comm_df = pd.read_csv(comment_fn, header=None)

In [13]:
thread_df.head()

,0,1,2,3,4,5,6,7
0,7n255u,https://www.reddit.com/r/opiates/comments/7n25...,10,https://redd.it/7n255u,schizoidparanoid,Raise your hand if you’re sitting at the spot ...,NaN,1.514648e+09
1,7n2291,https://i.redd.it/b3fpw3d1v2701.jpg,20,https://redd.it/7n2291,beepbeeptoottoot,Fucking norcos,NaN,1.514647e+09
2,7n20r3,https://i.redd.it/0kt3m1hlt2701.jpg,47,https://redd.it/7n20r3,HostDisorder,rare pickup for me,NaN,1.514647e+09
3,7n0mzc,https://imgur.com/gallery/pCPjm,3,https://redd.it/7n0mzc,Burner_001,I am one happy boy!,NaN,1.514624e+09
4,7n0i78,https://www.reddit.com/r/opiates/comments/7n0i...,126,https://redd.it/7n0i78,spinderella69,Can we all be adults here please?,There has been a **lot** or drama on this sub ...,1.514622e+09

In [14]:
comm_df.head()

,0,1,2,3,4,5
0,c69qdji,https://www.reddit.com/r/opiates/comments/101p...,t3_101pxa,90-120mg? And yeah it should work,NaN,1.347938e+09
1,c6alnw6,https://www.reddit.com/r/opiates/comments/101p...,t3_101pxa,You can plug a tire iron. Doesn't mean its a g...,belovely,1.348089e+09